<div class="section">
  <h1> Loops & Samples</h1>
  <div class="browse-filter-container" style="margin-top: 40px">
    <%= link_to browse_all_path do %>
      <div class="browse-filter">
        All
      </div>
    <% end %>
    <%= link_to browse_verified_path do %>
      <div class="browse-filter browse-filter-selected">
        Verified
      </div>
    <% end %>
  </div>
  <%= render 'loop-container' %>

  
</div>