<div class="section header-section">
  <h1 class="title-container">Your source for curated loops.</h1>
  <div class="button-row display-inline-block">

    <% if user_signed_in? %>

      <%= link_to new_loop_path do %>

        <div class="button-primary float-left">Upload</div>
      <% end %>

      <% else %>

      <%= link_to new_user_registration_path do %>

        <div class="button-primary float-left">Upload</div>
      <% end %>

    <% end %>

    <% if !user_signed_in? %>

      <%= link_to new_user_registration_path do %>

        <div class="button-secondary float-left">Sign Up</div>

      <% end %>
    <% end %>
  </div>
</div>

<div class="section">
  <h3 style="margin-top: 40px"> Browse Recent Uploads </h3>

  <%= render 'loop-container' %>
  
</div>